@mixin fontType($family, $color, $size, $weight) {
  color: $color;
  font-family: $family, serif;
  font-size: $size;
  font-weight: $weight;
}

@mixin flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex_start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@mixin flex_end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@mixin title {
  text-align: center;
  color: $c-blue--dark;
  font-weight: bold;
}

@mixin media($breakpoint) {
  @media only screen and (max-width: $breakpoint) {
    @content;
  }
}

// px2rem
$browser-context: 16;
@function px2rem($pixels, $context: $browser-context) {
  @return ($pixels / $context) * 1rem;
}
