// typo
$f-roboto--basic: 'Roboto', sans-serif;
$f-roboto--titles: 'Roboto Slab', sans-serif;

// colors
$c-blue--light: #6fb9f2;
$c-blue--dark: #1e3458;
$c-black: #181818;
$c-red: #e82e34;
$c-yellow: #fac937;
$c-white: #fff;
$c-body--background: #fafafa;
$c-grid--border: #e1e2e7;
$c-text: #ebebeba3;
$c-text--important: #105aa3;
$c-text--disabled: #616469;
$c-green: #4CAF50;
$c-green-light: #00bd7e;

// media-queries
$mobile: 360px;
$tablet: 768px;
$small-desktop:  1024px;
$medium-desktop: 1264px;

// wrapper sizes
$container: 1280px
