// typo
$f-roboto--basic: 'Roboto', sans-serif;
$f-roboto--titles: 'Roboto Slab', sans-serif;

// colors
$c-blue--light: #6fb9f2;
$c-blue--dark: #1e3458;
$c-black: #181818;
$c-red: #e82e34;
$c-yellow: #fac937;
$c-white: #fff;
$c-body--background: #fafafa;
$c-grid--border: #e1e2e7;
$c-text: #ebebeba3;
$c-text--important: #105aa3;
$c-text--disabled: #616469;
$c-green: #22ae08;
$c-green-light: #00bd7e;
$c-green-dark: #21751a;
$c-pink-dark: #a445b2;
$c-pink-light: #fa4299;
$c-pink: #d41872;

// media-queries
$mobile: 425px;
$tablet: 768px;
$small-desktop:  1024px;
$medium-desktop: 1264px;

// wrapper sizes
$container: 1200px
