/*.containerNav {
  background-color: #eee;
  height: 100vh;
}

@media only screen and (min-width: $mobile) and (max-width: $tablet) {
  .containerNav {
    background-color: #eee;
    height: auto;
  }
}*/

.web-app--container {
  margin: 0 auto;
  max-width: $container;
  padding: 80px 32px;
  z-index: 0;
}
