.clients-page__container {
  padding: 0;
}

.clients-page__title--shape {
  color: $c-grid--border;
}

.clients-page__list--container {
  list-style-type: none;
  margin-bottom: 20px;
  padding: 0;
  .clients-page__list--item {
    font-size: px2rem(16);
    line-height: px2rem(28);
  }
}
